.inner-pages.hp-6.full .rld-main-search {
    padding: 30px 0px 30px 20px;
    background: #f5f7fb;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.inner-pages .nice-select.open .list {
    overflow: visible;
    z-index: 99999;
    width: auto;
    max-height: 400px;
    overflow-y: auto;
}

.filter-section {
    margin-top: 20px;
}

.filter-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

.filter-label {
    margin-bottom: 15px;
    display: block;
    text-align: left;
}

.filter-btn {
    padding: 8px 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.filter-btn.active {
    border: 2px solid #FF385C !important;
    position: relative;
}

.filter-btn:focus,
.filter-btn:hover {
    border: 2px solid #FF385C !important;
    outline: none;
}

.filter-btn.active::after {
    content: "✔";
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #FF385C;
    color: white;
    font-size: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}